.home {
  .row_two {
    .panel {
      &.what_do_we_do {
        li {
          @include span-columns(4, 12);

          &.item_3, &.last {
            @include omega;
          }
        }

        .button {
          float: right;
        }
      }
    }
  }

  .row_two {
    .panel {
      &.our_approach {
        @include span-columns(6, 12);

        li {
          @include span-columns(6 omega, 6);
        }
      }

      &.our_clients {
        @include span-columns(12 omega, 12);

        article {
          @include span-columns(1, 12);
          @include suffix(1, 12);

          &.last {
            @include omega;
            @include suffix(0, 12);
          }

          img {
            max-width: 100%;
          }
        }
      }

      &.who_hires_us {
        @include span-columns(6 omega, 12);
        @include bleed(1000px, right);
        @include bleed(20px, left);
      }
    }
  }

  .row_four {
    .panel {
      &.latest_work {
        @include span-columns(12 omega, 12);

        article {
          // layout
          float: left;
          position: relative;
          width: percentage(4/12);

          // styling
          @include transition(all 3s ease-in-out);

          &:hover {
            .fade {
              opacity: 0.8;
            }

            .panel_content {
              bottom: 0;
              opacity: 1;

              h1 {
                margin: 0;
              }

              p {
                opacity: 1;
              }
            }
          }

          &.last {
            @include omega;
          }

          header {
            margin-top: 50px;
          }

          h1, p {
            @include transition(all 0.2s ease-in-out);
            color: #fff;
          }

          img {
            // layout
            height: 400px;
            vertical-align: bottom;
            max-width: 100%;
            
            // styling
            @include transition(all 0.35s ease-in-out);
          }

          // .fade {
          //   // layout
          //   display: block;
          //   height: 100%;
          //   position: absolute;
          //   top: 0;
          //   bottom: 0;
          //   left: 0;
          //   right: 0;
          //   width: 100%;

          //   // styling
          //   background-color: $red;
          //   opacity: 0;
          // }

          .panel_content {
            // layout
            position: absolute;
            left: 0;
            bottom: -40px;

            // styling
            @include transition(all 0.2s ease-in-out);
            z-index: 2;

            p {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .row_five {
    .panel {
      &.contact_us {
        .column_one, .column_two, .column_three {
          // layout
          @include span-columns(4, 12);
          text-align: center;

          // styling
          @include transition(all 0.2s ease-in-out);

          &:hover {
            background-color: $green;

            i {
              @include scale(1.5);
            }
          }

          a {
            // layout
            display: block;
            padding: 20px;

            // styling
            color: #fff;
            text-decoration: none;
          }

          i {
            @include transition(all 0.2s ease-in-out);
          }
        }

        .column_three {
          @include omega;
        }
      }
    }
  }
}