.home {
  .row_one {
    .panel {
      &.hello {
        a {
          @include transition(all 0.1s ease-in-out);
          border-bottom: 1px dashed $text_dark;
          color: $text_dark;
          text-decoration: none;

          &:hover {
            border-bottom: 1px dashed $red;
            color: $red;
          }
        }
      }
    }
  }

  .row_two {
    .panel {
      &.what_do_we_do {
        li {
          text-align: center;
        }
      }

      &.who_hires_us {
        // layout
        float: right;

        // styling
        background-color: $red;
        color: #fff;
      }
    }
  }

  .row_four {
    .panel {
      &.latest_work {
        article {
          margin-bottom: 10px;
          overflow: hidden;
        }

        .button {
          float: right;
        }
      }
    }
  }

  .row_five {
    @include transition(background-color 0.2s ease-in-out);
    background-color: $text_dark;
    color: #fff;
  }
}