.home {
  .row_one {
    .panel {
      &.hello {
        a {
          @include transition(all 0.1s ease-in-out);
          border-bottom: 1px dashed $text_dark;
          color: $text_dark;
          text-decoration: none;

          &:hover {
            border-bottom: 1px dashed $red;
            color: $red;
          }
        }
      }
    }
  }

  .row_two {
    .panel {
      &.what_do_we_do {
        .additional_services {
          // layout
          @include clearfix;

          // styling
          background-color: #302614;

          header {
            float: left;
          }

          h1, i {
            color: #80735e;
          }

          i {
            // layout
            display: block;

            // styling
            opacity: 1;
            font-size: 50px;
          }

          li {
            text-align: center;
          }

          p {
            color: #fff;
          }

          ul {
            // layout
            float: left;

            // styling
            background-color: #362c1b;
          }
        }

        .main_services {
          h2, p {
            @include transition(all 0.2s ease-in-out);
          }

          i {
            // layout
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;

            // styling
            color: darken(#0085a1, 1%);
            font-size: 300px;
          }

          li {
            position: relative;
            @include transition(all 0.2s ease-in-out);

            &:hover {
              opacity: 1 !important;

              h2, p {
                @include scale(1.05);
              }
            }
          }

          ul {
            @include transition(background-color 0.2s ease-in-out);
            background-color: #0085a1;

            &:hover {
              background-color: darken(#0085a1, 5%);

              li {
                opacity: 0.8;
              }
            }
          }

          .panel_content {
            position: relative;
            z-index: 2;
          }
        }

        ul {
          @include clearfix;
        }

        li {
          // layout
          float: left;

          // styling
          color: #fff;
        }

        .introduction_narrow {
          background-color: #007892;
          color: #fff;
        }
      }

      &.who_hires_us {
        // layout
        float: right;

        // styling
        background-color: #ffb000;
        color: #a16f00;
      }
    }
  }

  .row_four {
    .panel {
      &.latest_work {
        article {
          margin-bottom: 10px;
          overflow: hidden;
        }

        .button {
          float: right;
        }
      }
    }
  }

  .row_five {
    @include transition(background-color 0.2s ease-in-out);
    background-color: $text_dark;
    color: #fff;
  }
}