.home {
  .row_two {
    .panel {
      &.hires {
        // layout
        float: right;

        // styling
        background-color: #525f6d;
        color: #fff;
      }

      &.system {
        li {
          text-align: center;

          &.last {
            @include omega;
          }
        }
      }
    }
  }

  .row_three {
    @include transition(background-color 0.2s ease-in-out);
    background-color: $green;
    color: #fff;

    &:hover {
      background-color: darken($green, 2%);
    }
  }

  .row_five {
    @include transition(background-color 0.2s ease-in-out);
    background-color: $red;
    color: #fff;

    &:hover {
      background-color: darken($red, 2%);
    }

    .panel {
      &.our_people {
        article {
          header {
            h2 {
              color: #e7b4ae;
            }
          }
        }
      }
    }
  }
}