body {
  color: $text_dark;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em; /* 16px */
}

.center {
  text-align: center;
}

.clearfix {
  @include clearfix;
}

.introduction {
  @include clearfix;
  padding: 100px 0;
}

.panel {
  margin: 10px 0;
}

.panel_content {
  padding: 20px;
}

.row {
  @include clearfix;
}

.wrap {
  @include container;
}