body {
  @include background-image(radial-gradient(center, ellipse cover, #fafafa 1%, #e9e9eb 100%));
  color: $text_dark;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em; /* 16px */
  font-weight: 300;
}

body, html {
  height: 100%;
  overflow-x: hidden;
}

.center {
  text-align: center;
}

.clearfix {
  @include clearfix;
}

.introduction, .introduction_narrow {
  @include clearfix;
  padding: 50px 0;
}

.introduction_narrow {
  @include pad(2, 2);
  @include span-columns(8, 12);
}

.panel {
  margin: 20px 0;
}

.panel, .row {
  @include clearfix;
}

.panel_content {
  padding: 20px;
}

.wrap {
  @include container;
}

.modal {
  .panel_content {
    @include transition(all 0.2s ease-in-out);
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
  }
}

.modal_background {
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

section {
  &.blogs {
    article {
      @include transition(all 0.2s ease-in-out);
      position: relative;
      text-align: center;

      &:hover {
        background-color: $blue;

        .read_more {
          a {
            opacity: 1;
            margin-top: 0;
          }
          
        }
      
        .teaser {
          color: lighten($blue, 15%);
        }
        
      }

      .read_more {
        a {
          // layout
          position: absolute;
          top: 30%;
          left: 0;
          right: 0;
           
          // styling
          @include transition(all 0.2s ease-in-out);
          color: #fff;
          opacity: 0;
          text-decoration: none;
        }
      }
    }
  }
}