body {
  color: $text_dark;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em; /* 16px */
}

.center {
  text-align: center;
}

.clearfix {
  @include clearfix;
}

.introduction, .introduction_narrow {
  @include clearfix;
  padding: 100px 0;
}

.introduction_narrow {
  @include pad(2, 2);
  @include span-columns(8, 12);
}

.panel {
  margin: 20px 0;
}

.panel, .row {
  @include clearfix;
}

.panel_content {
  padding: 20px;
}

.wrap {
  @include container;
}