h1, .alpha {
  font-size: 3.5em; /* 56px */
  line-height: 1.3929em; /* 78px / 56px */
  margin-bottom: 0.23215em;
}

h2, .beta {
  font-size: 2.75em; /* 44px */
  line-height: 1.1818em; /* 52px / 44px */
  margin-bottom: 0.29545em;
}

h3, .gamma {
  font-size: 2em; /* 32px */
  line-height: 1.6250em; /* 52px / 32px */
  margin-bottom: 0.40625em;
}

h4, .delta {
  font-size: 1.75em; /* 28px */
  line-height: 1.8571em; /* 52px / 28px */
  margin-bottom: 0.4643em;
}

h5, .epsilon {
  font-size: 1.5em; /* 24px */
  line-height: 1.625em; /* 39px / 24px */
  margin-bottom: 0.54165em;
}

h6, .zeta {
  font-size: 1.25em; /* 20px */
  line-height: 1.3em; /* 26px / 20px */
  margin-bottom: 0.65em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.eta {
  font-size: 0.875em; /* 14px */
  line-height: 1.8571em; /* 26px / 14px */
}

em {
  font-weight: 700;
}

li, p {
  font-size: 1em; /* 16px */
  line-height: 1.6250em; /* 26px */
  margin-bottom: 10px;
}

ul {
  &.bullets {
    li {
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

.bold {
  font-weight: 700;
}