---
page_class: home
title: Welcome to Middleman
---

.row.row_one
  %section.panel.hello
    %h1.alpha Hello
    %p.epsilon
      We are a digital build agency, specialising in building systems that do clever things in an easy-to-understand way.
      We specialise in finding bespoke solutions to our clients' problems. Bring it to us and we'll find a way forward for you.

.row.row_two
  %section.panel
    %h1.delta What's a "System"?
    %p
      In the digital world, a system means much more than just a website which is an online brochure for a business. Although we do build lots of those, our real expertise is in building:
    %ul
      %li Dynamic Database-driven Websites
      %li Management Systems
      %li Communication Systems
      %li Extranets
      %li Automated Comercial Processes
      %li eCommerce
    %p
      We also build iPhone and iPad apps.
  %section.panel.last
    %h1.delta Who Hires Us?
    %p
      Our clients include:
    %ul
      %li Media Owners
      %li Industrial Companies who have a problem which needs a technological solution
      %li Design Agencies who need digital build capabilities
      %li Client-facing Agencies who need client-presentable technical experts
      %li Agencies who have sold a client an idea which they have no idea how to deliver

.row.row_three
  %section.panel
    .panel_content
      %header
        %i.fa.fa-lightbulb-o
        %h1.zeta Latest work | test
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur molestias dolores modi eos pariatur enim dignissimos accusantium temporibus
      %footer
        More