---
ng_app: homePage
page_class: home
title: Morse Digital
---

= partial "header"

.wrap
  .row.row_one
    %section.panel.hello.introduction
      %h1.alpha Hello!
      %p.delta
        We are a
        %em digital build agency
        , specialising in building
        %em
          =link_to "systems", "#"
        that do clever things in an easy-to-understand way.
        We create
        %em 
          =link_to "bespoke solutions", "#"
        to our clients' problems.
        %em
          =link_to "Contact us", "#"
        and we'll find a way forward for you.

  .row.row_two
    %section.panel.what_do_we_do{ "ng-controller" => "ServicesController as services" }
      .introduction_narrow
        %h1.delta What do we do?
        %p.epsilon
          In the digital world, a system means much more than just a website which is an online brochure for a business. Although we do build lots of those, our real expertise is in building:
      %ul
        %li{ "ng-repeat" => "service in services.services", "ng-class" => "{last : ($index +1) % 4 == 0}", class: "item_{{$index+1}}" }
          %i.alpha.fa{ class: "{{service.icon}}" }
          .clearfix
            %h2.zeta
              {{service.name}}
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, necessitatibus quisquam voluptas saepe neque molestiae.
        %li.last
          = link_to "More", "#", class: "button"

    %section.panel.our_approach
      .panel_content
        %h1.epsilon Our Approach
        %ul
          %li
            %em "Seek first to understand":
            We take a brief then work out what the client requires (not always what the client thinks they require).
          %li
            %em Propose a solution in non-tech terms:
            We like to speak Plain English. Drawing pictures helps, too.
          %li
            %em Build a Prototype:
            If there's something innovative or particularly high-tech in the proposed solution, we build a demo before the client commits wholesale to the project. Our prototype-to-full-build ratio is 100% so far.
          %li
            %em Agree a plan:
            Little explanation needed here...
          %li
            %em Deliver. On budget:
            We have a little rule we call our "No Surprises" rule. We work to a fixed cost for a fixed project. If the client asks for more, we agree any extra charges in advance. Our clients never receive an invoice they're not expecting.

    %section.panel.who_hires_us
      .panel_content
        %h1.epsilon Who Hires Us?
        %p
          Our clients include:
        %ul.bullets
          %li Media Owners
          %li Industrial Companies who have a problem which needs a technological solution
          %li Design Agencies who need digital build capabilities
          %li Client-facing Agencies who need client-presentable technical experts
          %li Agencies who have sold a client an idea which they have no idea how to deliver

    %section.panel.our_clients
      .introduction_narrow
        %h1.delta Who have we worked with?
        %p.epsilon
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus in, quaerat ducimus dolorem libero magnam ipsum.
      .panel_content
        .clearfix
          %article
            =image_tag "client_logo_1.png", alt: "BFI"
          %article
            =image_tag "client_logo_2.png", alt: "Universal"
          %article
            =image_tag "client_logo_3.png", alt: "Tesco"
          %article
            =image_tag "client_logo_4.png", alt: "Sony Pictures"
          %article
            =image_tag "client_logo_1.png", alt: "BFI"
          %article.last
            =image_tag "client_logo_1.png", alt: "BFI"

.row.row_four
  %section.panel.feed
    .wrap
      .introduction_narrow
        %h1.delta Our latest work
        %p.epsilon
          Quia possimus ipsam, totam ab culpa quisquam tenetur, voluptas. Amet iure culpa enim voluptates. Alias aut debitis error sit suscipit rerum, repellat.

    %section.panel.latest_work{ "ng-controller" => "FeedController as feed" }
      %article{ "ng-repeat" => "job in feed.jobs" }
        %img{ src: "{{job.image}}" }
        .panel_content
          %header
            %h1.epsilon
              {{job.title}}
              %span.bold {{job.subtitle}}
          %p.eta {{job.intro}}
      .wrap
        .clearfix
          = link_to "See more of our work", "#", class: "button"

.row.row_five
  .wrap
    %section.panel.contact_us
      .introduction_narrow
        %h1.delta Contact us
        %p.epsilon
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sint, doloribus incidunt labore corporis tempore consequatur.
      %p.epsilon.center "Hello, Morse. I'm interested in..."
      .column_one
        %a{ href: "#" }
          %i.fa.fa-rocket.epsilon
          %h2.epsilon ...starting a project with you."
      .column_two
        %a{ href: "#" }
          %i.fa.fa-users.epsilon
          %h2.epsilon ...joining your team."
      .column_three
        %a{ href: "#" }
          %i.fa.fa-comments.epsilon
          %h2.epsilon ...something else."

= partial "footer"